:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-bg-color: white;
  --main-font-color: black;

  --button-primary: orange;
  --button-secondary: #FFD812;
}

/* ELEMENT SELECTORS */
* {
  font-family: 'Amazon Ember', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: only light;
  color: var(--main-font-color);
  background-color: var(--main-bg-color);
}
html{
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  place-items: center;
  justify-content: center;
  align-content: center;
  justify-content: center;
  margin: 0;
  padding: 10px;
}

/* Class Selectors */
.link-button{
  background-color: var(--button-secondary);
  padding: 5px 50px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.8rem;
  transition: filter 500ms ease-in-out;
  display: block;
  width: max-content;
  margin-left: auto;
}

.link-button:hover {
 filter: brightness(95%);
}
  
.item-container {
  height: 80vh;
  width: auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows:  1fr;
  gap: 10px;
  padding: 10px;
  min-width: 0;
  min-height: 0;
}

.item-container > .item-title {
  text-align: center;
  margin: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow:auto;
  font-size: 1em;
  text-decoration: none;
  color:black;
  
}

.item-container > .item-title:visited {
  color: rgb(40, 150, 223);
}

.item-container > .item-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: rgb(40, 150, 223);
}

#app {
  max-width: 80vw;
  margin: 0;
}
#products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:  1fr 1fr 1fr 1fr;
  height: auto;
  width: fit-content;
  gap: 10px;
  padding: 15px 0px;
}
.item-container > .item-category {
  text-align: center;
  margin: 0;
  min-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-container > .item-stock {
  text-align: center;
  margin: 0;
  min-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-container > .item-rating {
  text-align: center;
  margin: 0 auto;
  min-height: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: max-content;
}

.item-rating > svg{
  fill: #f6ae00;
  stroke: #d8871c;
  stroke-width: 0.5px;
  height: 1.3em;
}

.item-container > .item-price {
  text-align: center;
  margin: 0;
  min-height: 0;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}


.item-container > .item-image {
  object-fit: contain;
  text-align: center;
  margin: auto;
  display: block;
  max-width: 200px;
  max-height: 100%;
  position: static;

}

.item-container > .item-description{
  height: auto;
  margin: 0;
  position: relative;
  display: inline-block;
  overflow-y: scroll;
  scrollbar-width: 0;
  padding: 5px;
  font-size: 12px;
  color: rgb(100, 99, 99);
 
}
/*media queries*/

@media all and (max-device-width:1100px){
  h1{
    text-overflow: ellipsis;
    overflow: auto;
  }
  #products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows:  1fr 1fr 1fr 1fr;
   
    
  }
}

@media all and (max-device-width:850px){

  #products-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr;
  }
}

@media all and (max-device-width:500px){

  #products-container {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows:  1fr 1fr 1fr 1fr;
    height: 90vh;
    
  }
}



@media all and (max-width:1200px){

  #products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr;
    
    
  }
}
@media all and (max-width:1000px){

  #products-container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows:  1fr 1fr 1fr 1fr;
    height: 90vh;
    
  }
}

@media all and (max-width:600px){

  #products-container {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows:  1fr 1fr 1fr 1fr;
    height: 90vh;
    
  }
}

@media (hover: hover){
  .item-title:hover{
    color: rgb(247, 169, 68);
  }
  .item-container > .item-rating:hover {
    
    color: rgb(247, 169, 68);
  }
}

